.env
**/.DS_store

/node_modules
**/node_modules
**/build
.next

next-env.d.ts

**/__pycache__
projects/synthesizer/data
**/*.pth
**/*.pt
**/audio
**/raw-data
**/training-data
**/archive
**/chunks
**/embeddings
**/*.gguf
**/*.wav